DataProperty>=0.46.3,<2
docker>=1.9.0,<5
humanreadable>=0.0.9,<1
loguru>=0.4.1,<1
msgfy>=0.0.6,<1
path.py<13
pyparsing>=2.0.3,<3
pyroute2>=0.5.7,<1
simplejson>=3.8.1,<4
SimpleSQLite>=0.48.0,<2
subprocrunner>=1.1.0,<2
typepy>=0.6.4,<2
voluptuous<1
